@charset "utf-8";
/* CSS Document */

body,div,a,p,span,img,input,textarea,ul,li,ol,dl,dt,dd,h1,h2,h3,h4{ padding:0; margin:0; border:0; list-style:none; outline:none;}
body{font-size:14px;font-family:"微软雅黑"; color:#333; background:#fff;}
table,textarea{ font-family:"微软雅黑";}
a{ color:#333; text-decoration:none; outline:none;}
a:hover{ text-decoration:none; color:#333;}

/*----------------平台支付页面----------------------*/
.search_form{ padding:1.5rem; overflow:hidden;}
.search_form p{ float:left; width:35%; font-size:1.1rem; line-height:4.0rem;}
.search_form .search{ width:100%;}
.search_form p input{ border:1px solid #ccc; width:50%; font-size:1.1rem; line-height:2.0rem;}
.search_form .search{ text-indent:6em;}
.search_form .search input{ color:#fff; background:#0e93d8; width:5.0rem; border:0; cursor:pointer; border-radius:3px;}

/*-----table------*/
.table{ padding-bottom:5%;}
.table table{ width:100%; border-spacing:0; border-collapse:collapse; margin-bottom:3.0rem;}
.table thead{ background:#2d84b9; width:100%;}
.table thead tr th{ border:1px solid #fff; text-align:center; font-size:0.9rem; line-height:3.0rem; color:#fff;}

.table tbody tr td{ text-align:center; border:1px solid #ccc; padding:1% 0;}
.table tbody tr td.money{ color:#fa1011;}
.table tbody tr td.gray{ color:#999;}
.table tbody tr td a{ color:#12a1e8;}


/*----------------审核列表页面----------------------*/
.list_form{padding:1.5rem;}
.list_form p{ font-size:1.1rem; line-height:4.0rem;}
.list_form .text{border:1px solid #ccc; width:15.0rem; font-size:1.1rem; line-height:2.0rem; margin-right:2.0rem;}
.list_form .btn{color:#fff; background:#0e93d8; width:4.5rem; cursor:pointer; font-size:1.0rem; line-height:2.0rem; border-radius:3px;}


/*----------------审核列表-审核详情页面----------------------*/
.detail_top{ padding:1.5rem; padding-left:2.0rem; border-bottom:1px solid #ccc; overflow:hidden;}
.detail_top p{ font-size:1.0rem; line-height:3.0rem; float:left; width:35%;}

.detail_form{ padding-top:2%;}
.detail_form dl{ width:100%; overflow:hidden; font-size:1.0rem; line-height:2.5rem;}
.detail_form dt{ width:10%; float:left; margin-right:8%; text-align:right;}
.detail_form dd{ width:80%; float:left;}
.detail_form dd textarea{background:#f2f2f2; resize:none; width:40%; height:5.0rem; margin:1.0rem 0; padding:0.5rem;}
.detail_form dd b{ color:#fe4e4d;}
.detail_form dd a{ color:#0e93d8; margin-left:5.0rem;}


.check_btn{ padding-top:5.0rem;}
.check_btn input{ cursor:pointer; color:#fff; font-size:1.0rem; line-height:3.0rem; width:10%; background:#0f94d9; border-radius:3px; margin-left:30%; border-radius:3px;}

/*----------------角色列表页面----------------------*/
.role_form{padding:1.5rem; padding-left:3.0rem;}
.role_form p{ font-size:1.1rem; line-height:4.0rem;}
.role_form .text{border:1px solid #ccc; width:15.0rem; font-size:1.1rem; line-height:2.0rem; margin-right:2.0rem;}
.role_form .btn{color:#fff; background:#0e93d8; width:5.0rem; cursor:pointer; font-size:1.0rem; line-height:2.0rem; margin-left:5.5rem; border-radius:3px;}

.table .add{ text-align:center;}
.table .add input{ color:#fff; font-size:1.0rem; line-height:3.0rem; width:10.0rem; background:#0e93d8; cursor:pointer; border-radius:3px;}

/*----------------新增权限页面----------------------*/
.add_form{ padding:2%;}
.add_form dl{ width:100%; overflow:hidden; font-size:1.0rem; line-height:3.0rem;}
.add_form dt{ width:8.0rem; float:left;}
.add_form dd{ float:left;}
.add_form dd input{ border:1px solid #ccc; font-size:0.9rem; line-height:1.5rem; width:15.0rem;}
.add_form dd select{ border:1px solid #ccc; font-size:0.9rem; line-height:1.5rem; width:15.0rem; outline:none;}
.add_form dd textarea{background:#f2f2f2; resize:none; width:20.0rem; height:5.0rem; margin:1.0rem 0; padding:0.5rem; font-size:0.9rem;}
.add_form p .sub{ color:#fff; font-size:1.0rem; line-height:2.5rem; width:6.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:2.0rem 0 0 8.0rem;}

/*----------------更换手机号页面----------------------*/
.phonenum_form{ width:25.0rem; margin:5.0rem auto;}
.phonenum_form p{ font-size:1.0rem; line-height:3.0rem; width:100%;}
.phonenum_form .txt{ font-size:0.9rem; line-height:1.5rem; border:1px solid #ccc;}
.phonenum_form .btn01{ font-size:0.9rem; line-height:1.6rem; background:#10a6e1; color:#fff; padding:0 0.5rem; margin-left:1.0rem; outline:none; cursor:pointer; float:right; margin-top:0.7rem;}
.phonenum_form .btn02{ font-size:0.9rem; line-height:1.6rem; background:#dadada; color:#fff; padding:0 0.5rem; margin-left:1.0rem; outline:none; float:right; margin-top:0.7rem;}
.phonenum_form .sub{color:#fff; font-size:1.0rem; line-height:2.5rem; width:8.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:4.0rem auto; display:block;}

/*----------------提现验证页面----------------------*/
.phonenum_form p a{ margin-left:5.0rem; color:#10a6e1;}

/*----------------商家提现页面----------------------*/
.overage{ border-bottom:1px solid #ccc; padding:1.5rem; padding-left:2.0rem;}
.overage p{ font-size:1.0rem; line-height:2.0rem;}
.overage p span{ color:#fe4e4d; font-weight:bold;}
.overage p.note{ color:#999;}

.tixian_form{ padding:2%;}
.tixian_form dl{ width:100%; overflow:hidden; font-size:1.0rem; line-height:3.0rem;}
.tixian_form dt{ width:8.0rem; float:left;}
.tixian_form dd{ float:left;}
.tixian_form dd input[type=text]{ border:1px solid #ccc; font-size:0.9rem; line-height:1.5rem; width:15.0rem;}
.tixian_form dd label{ margin-right:3.0rem;}
.tixian_form p input[type=submit]{ color:#fff; font-size:1.0rem; line-height:2.5rem; width:8.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:5.0rem;}

/*----------------商家提现-资料完善页面----------------------*/
.data_form{ padding:2%;}
.data_form dl{ width:100%; overflow:hidden; font-size:1.0rem; line-height:3.0rem;}
.data_form dt{ width:8.0rem; float:left;}
.data_form dd{ float:left;}
.data_form dd input[type=text]{ border:1px solid #ccc; font-size:0.9rem; line-height:1.5rem; width:15.0rem;}
.data_form .data input[type=text]{ margin:0 2.0rem;}
.data_form p input[type=submit]{ color:#fff; font-size:1.0rem; line-height:2.5rem; width:8.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:5.0rem; margin-left:15.0rem;}

/*----------------我的用户页面----------------------*/
/*-----------------pagenum----------------------*/
.page_num{ margin-top:10%;}
.page_num .sabrosus{ width:40%; margin:0 auto;}

.sabrosus{ padding:0.5rem; text-align:center; margin:0.5rem;}
.sabrosus a{ border:1px solid #ccc; width:1.5rem; height:1.5rem; text-decoration:none; color:#333; margin:0 0.3rem; display:inline-block; text-align:center; line-height:1.5rem;}
.sabrosus a:hover{ border:1px solid #ff2d48; color:#000;}
.sabrosus a:active{ border:1px solid #ff2d48; color:#000;}
.sabrosus span{ width:1.5rem; height:1.5rem; text-align:center; line-height:1.5rem; display:inline-block; margin:0 0.3rem;}
.sabrosus span.current{ color:#fff; font-weight:bold; background:#ff2d48; border:1px solid #ff2d48;}
.sabrosus span.disabled{ border:1px solid #929292; color:#000; font-weight:bold; color:#929292;}

.page_num .add{ width:20%;}

/*----------------我的用户绑定商圈页面----------------------*/
.circle{ padding:1.5rem; width:100%; overflow:hidden; box-sizing:border-box;}
.circle .title{ width:8%; float:left; text-align:center; line-height:8.0rem; font-size:1.1rem;}
.circle .con{ width:92%; float:left; border:1px solid #ccc; box-sizing:border-box; padding:1.0rem 2.0rem; box-sizing:border-box;}
.circle .con p{ width:30%; float:left; font-size:1.0rem; line-height:3.0rem;}

.circle_detail{ padding:1.5rem; width:100%; overflow:hidden; box-sizing:border-box;}
.circle_detail .title{ width:8%; float:left; text-align:center; font-size:1.1rem;}
.circle_detail .table{ width:92%; float:left;}
.circle_detail .table p input{color:#fff; font-size:1.0rem; line-height:2.5rem; width:8.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:10.0rem auto; display:block;}


/*----------------我的用户-新增页面----------------------*/
/*----新增角色页面------*/
/*----新增权限页面------*/
.adduser-form{ padding:2.0rem; font-size:1.1rem; line-height:3.0rem;}
.adduser-form ul.user,ul.contact{ width:100%; overflow:hidden;}
.adduser-form ul.user li,ul.contact li{ width:40%; float:left;}
.adduser-form ul.user li input,ul.contact li input{ border:1px solid #ccc; font-size:1.0rem; line-height:1.5rem; padding-left:0.5rem; width:15.0rem; margin-left:1.0rem; box-sizing:border-box;}
.adduser-form ul.user li select{ width:15.0rem; font-size:1.0rem; line-height:1.5rem; margin-left:1.0rem;}

.limit{ width:100%; overflow:hidden; margin:2.0rem 0;}
.limit .title{ width:4%; float:left;}
.limit .tab{ float:left; width:95%; background:#f2f2f2;}
.limit .tab h4{ background:#fff; width:100%; overflow:hidden; height:3.0rem; box-shadow:0 0 5px #333;}
.limit .tab h4 span{ float:left; cursor:pointer; height:2.8rem;}
.limit .tab h4 span i{ font-style:normal; font-size:1.1rem; line-height:2.0rem; height:2.0rem; display:inline-block; border-right:1px solid #ccc; padding:0 2.5rem; font-weight:normal;}
.limit .tab h4 span.current{ color:#f53938; border-bottom:3px solid #f53938;}

.limit .tab ul li{ display:none; padding:2.0rem; overflow:hidden;}
.limit .tab ul li.current{ display:block;}
.limit .tab ul li p{ float:left; width:30%; line-height:4.0rem;}

.adduser-form .sub{ width:100%; padding-top:5.0rem;}
.adduser-form .sub input{color:#fff; font-size:1.1rem; line-height:3.0rem; width:10.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:0 auto; display:block;}

/*----------------商家位置----------------------*/
.position_form{ padding:2.0rem;}
.position_form .position>span{ font-size:1.2rem; line-height:3.0rem; width:10%; display:inline-block; text-align:center;}

.map_all{ width:100%; height:40.0rem; overflow:hidden; margin:2.0rem 0;}
.map_all>span{ float:left; width:10%; font-size:1.2rem; line-height:40.0rem; text-align:center;}
.map_all .locate{border:1px solid #ccc; float:left; width:90%; height:40.0rem; box-sizing:border-box; position:relative;}
#l-map{height:100%; width:100%;}
.map_all .locate .address{ position:absolute; top:1.0rem; left:5%; width:90%; height:3.5rem; z-index:2; background:#fff; box-shadow:0 0 5px #333;}
.map_all .locate .address{ font-size:1.2rem; line-height:3.5rem; text-align:center;}
.map_all .locate .address input{ border:1px solid #ccc; font-size:1.0rem; line-height:2.0rem; padding-left:0.5rem;}



.position_form .range{ width:100%; overflow:hidden;}
.position_form .range span{ width:10%; font-size:1.2rem; text-align:center; float:left;}
.position_form .range input{ font-size:1.0rem; line-height:2.0rem; width:15.0rem; border:1px solid #ccc;}
.position_form .range i{ font-style:normal; color:#999; font-size:1.0rem;}

.position_form .sub{ width:100%; padding-top:5.0rem;}
.position_form .sub input{color:#fff; font-size:1.2rem; line-height:3.0rem; width:10.0rem; background:#0e93d8; border-radius:3px; cursor:pointer; margin:0 auto; display:block;}

